* {
    font-family: 'Work Sans', sans-serif;
}

body {
    padding-top: 55px;
}

html {
    scroll-behavior: smooth;
}

.navbar-brand img {
    max-height: 30px;
    width: auto;
}

.bg-dark {
    background-color: #000 !important;
}

h3 {
    font-weight: 700;
}

.cat h3 {
    margin-top: 60px;
}

.bg-am {
    background-color: #ffce01;
}

.bg-az {
    background-color: #1b4599;
    color: white;
}

p {
    font-size: 14px;
    margin-bottom: 25px;
}

.no-pad {
    padding: 0;
}

.btn-dark {
    background-color: black;
    color: white;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
    border-style: none;
}

.cat .btn {
    margin-bottom: 60px;
}

.btn-light {
    background-color: white;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
    border-style: none;

}

.btn-light:hover {
    background-color: black;
    color: white;
    border-style: none;
}

.btn-am:hover {
    background-color: #ffce01;
    color: black;
}

.btn-az:hover {
    background-color: #1b4599;
    color: white;
}

.tramites {
    padding: 130px 0;
    background-color: black;
    color: white;
}

.tramites h4 {
    margin-bottom: 30px;
}

h5 {
    font-weight: 700;
}

.contacto {
    padding: 130px 0;
}

/* FORM */

.form-control {
    border: 1px solid #000;
    border-radius: 0;
    color: #000;
}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: none;
    outline: 0 none;
    background-color: #eee;
    transition: .5s;
}


@media (min-width: 768px) { 
    .abajod {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .abajo {
        position: absolute;
        bottom: 0;
    }
}

.am {
    color: #000;
}

.am:hover {
    color: #000;
    background-color: #ffce01;
}

.ne {
    color: #000;
}

.ne:hover {
    color: #fff;
    background-color: #000;
}

.bl {
    color: #fff;
}

.bl:hover {
    color: #000;
    background-color: #fff;
}

.az {
    color: #000;
}

.az:hover {
    color: #fff;
    background-color: #1b4599
}

a.link-t {
    text-decoration: none;
}

.link-t {
    font-weight: 700;  
}

/* MENU */

.navbar-dark .navbar-toggler {
    border-color: rgba(0,0,0);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.my-nav {
    padding-left: 0;
    padding-top: 50px;
    padding-block-end: 50px;
    height: 100vh;
}

.my-item img {
    height: 30px;
    margin-right: 10px;
}

.tramites {}

hr {
    border-top: 1px solid red !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1.0) !important;
    font-weight: 700;
}

/* ANIMACION */

.derecha {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.derecha.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.derecha::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(50%);
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    } 
}

